/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;1,500&family=Poppins:ital,wght@1,500;1,600&display=swap');

:root {
  --header-height: 3rem;
  --body-color: rgb(255, 255, 255);

  /*COLORS*/
  --first-color: #ffa8a8;
  --second-color: #9ed39e;
  --text-color: #a19d9d;
  --scroll-bar: #d7cfcff5;

  /*FONT*/
  --body-font: 'Poppins', 'sans-serif';
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.55rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  /*MARGIN*/
  --margin: 8rem;
}
/*==============================DARK MODE VARIABLES=============================================*/
body.dark{
  /*COLORS*/
  --body-color: #303030;
  --first-color: #ffe973;
  --second-color: #80fc80;
  --text-color: #a19d9d;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--first-color);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  padding: 5px;
  height: 20px;
  width: 30px;
  transform: scale(1.2);
}

.label .ball {
  background-color: var(--body-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  transform: translateX(2px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(14px);
}
/*==============================BUTTON DARK AND LIGHT THEME=============================================*/
.nav-btns {
  display: block;
}
.change-theme {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: 1rem;
  cursor: pointer;
}
.change-theme:hover {
  color: var(--second-color);
}
/*=======================================BASE=============================================*/
* {
  box-sizing: border-box;
  margin: 0;
}
.html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
  overflow-x: hidden; /*nao aparece o scroll embaixo*/
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0.42rem;
  background-color: var(--scroll-bar);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: -5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

/*=======================================HEADER============================================*/
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 6rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*==============================FORGET PASSWORD============================================*/
.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--body-font);
  color: var(--first-color);
  font-size: var(--h2-font-size);
  gap: 2rem;
}
.password-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.password-input {
  background: var(--body-color);
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  border: 2px solid var(--first-color);
  border-radius: 1rem;
  border-color: var(--first-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

  outline: none;
}
.password-button {
  width: 15rem;
  height: 3rem;
  cursor: pointer;
  color: var(--body-color);
  font-size: var(--h4-font-size);
  font-family: var(--body-font);
  background-color: var(--first-color);
  border-color: var(--first-color);
  border-radius: 2rem;
}
.password-button:hover {
  background-color: var(--second-color);
  border-color: var(--second-color);
  transition: 0.2s;
}
.password-back {
  font-family: var(--body-font);
  font-style: var(--font-medium);
  font-size: var(--h4-font-size);
  color: var(--text-color);
  text-align: center;
}
.password-back:hover {
  color: var(--second-color);
}
